@media screen and (min-width: 1400px) {
    .gallery-container {
      width: 1370px;
      
    }
  }
  @media screen and (min-width: 1600px) {
    .gallery-container {
      width: 1570px;
    }
  }
  @media screen and (min-width: 1900px) {
    .gallery-container {
      width: 1870px;
    }
  }
  
  .gallery-container {
    width: 100vw;
    height: 65vh;
    display: grid;
    grid-template-rows: 5fr 1fr;
    margin-bottom: 20px;
    
    
    /* background: ; */
  }
  
  .gallery-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
  }
  
  .gallery-container .tab {
    width: calc(10vh + 8px);
    height: calc(10vh + 8px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    z-index: 0;
    transition: width 0.5s;
  }
  
  .gallery-container .tab img {
    width: 10vh;
    height: 10vh;
    z-index: 10;
    cursor: pointer;
    clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
    transition: width 0.5s;
  }
  
  .gallery-container [type=radio] {
    display: none;
  }
  
  .gallery-container .preview-list {
    background: linear-gradient(#021919, #021919 var(--line-offset), #efefef var(--line-offset));
  }
  
  .gallery-container .tab {
    /* background: linear-gradient(#efefef, #efefef var(--line-offset), #021919 var(--line-offset)); */
    background: #3691cf;
  }
  
  .gallery-container [type=radio]:checked ~ label ~ .content {
    text-align: center;
    z-index: 8;
  }
  
  .gallery-container [type=radio]:checked ~ label .tab {
    width: 0;
  }
  
  .gallery-container  .content {
    position: absolute;
    background: #021919;
    top: 1vh;
    left: 0;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    object-fit: contain;
    
    
  }
  
  .gallery-container .content img {
    height: auto;
    width: 100vw;
    margin-top:15%;
    object-fit: cover;
  }