{% extends 'website1/index.html' %}
{% load static %}

{% block header %}
<nav id="header" class="container-fluid navbar navbar-expand-lg">
  <div class="container">
    <a class=" logo p-0" href="/">
      <img  src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"/>
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/">Home</a>
        </li>

      
        <li class="dropdown">
          <a href="#"
            ><span>About</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'gallery' %}">Aster Gallery</a></li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'services' %}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'team' %}">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'contacts' %}">Contact Us</a>
        </li>
 
    </div>
  </div>
</nav>

{% endblock %}
{% block content %}
<br>
<br>
<br>
{% if messages %}
{% for message in messages %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

<br>
<br>
<div class="container">
<div class="row justify-content-md-center">


<div class="alert alert-success" role="alert">
  <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button><br><br>

<p>{{message}}</p>

</div>
</div>
{% endif %}
{% endfor %}
{% endif %}
    <!-- ======About Us Section Start  -->
        <section id="" class="services-section1 section1bg d-flex align-items-center ">
        <div class="container">
          <div class="row gy-4">
 <div
            class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
          <br>
          <br>
          <br>
        
         
     
            <h1 data-aos="fade-up">Your Next Technology Partner</h1>
            <h2 data-aos="fade-up">Aster Innovations</h2>
            <p data-aos="fade-up">
              Aster Innovation engages in quality products and services in web-page design, software design, mobile apps, cloud services and other varieties of technology-related services within. It operates through the following geographical segments: Nepal, Sri Lanka, Australia and USA. Nepal is the headquarters for Aster Innovation while operating in other countries for different technical support and various international projects.
            </p>
            <p data-aos="fade-up" data-aos-delay="250">
              Our Technical and Business Domain Specialist teams are from Nepal, Sri Lanka, and the USA.AST will always follow the technology industry quality standards and methodologies in designing, developing, implementing, and supporting your customized software product in Nepal. Aster also undertakes digital animation software product development for the Mass Media Industry as well as eGovernment, financial ERP system, role-based Management Team’s Dashboards, Mobile Apps, Web App, Web Portals, and integration those with the Artificial Intelligence (AI), Internet of Things (IoT), Business Intelligence Tools (BI), and AR/VR systems.
            </p>
            <p data-aos="fade-up" data-aos-delay="350">
              AIPL believes that developing digital software systems for governments, capital markets, financial services, insurance, mass media, and all other private sector and non-governmental organizations is never an impossibility or incapability for its 10 to 25 years of experienced senior project managers, software developers, and business domain specialist team, who work as Investors, Directors, and Team Leaders in AST.
            </p>
          </div>
            <div class="col-lg-5  order-1 order-lg-2 service-img ">
              <img src="{% static 'assets/img/banner1.gif' %}" class="img-fluid mt-5" alt="" data-aos="zoom-in">
            </div>
          </div>
        </div>
    
      </section>
    <section class="about-section2 mt-5 mb-5">
      <div class="container">
        <div class="row justify-content-between about">
          <div
            class="col-md-6 col-lg-4 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box">
              <div class="about-img">
                <img src="{% static 'assets/img/SVG/vision.svg' %}" alt="" />
              </div>
              <h4 class="title mt-4 mb-0"><a href="">Our Vision</a></h4>
              <p class="description">
                Aster Innovation's very unique business vision, we believe “to
                be on top listed eGovernment & Enterprises Integrated Digital
                Solution Provider” with over 100 software modules under our
                Productization Plan to reach all markets in all industries and
                all countries with genuine intentions and passion to serve.
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-4 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box">
              <div class="about-img">
                <img src="{% static 'assets/img/SVG/mission.svg' %}" alt="" />
              </div>
              <h4 class="title mt-4 mb-0"><a href="">Our Mission</a></h4>
              <p class="description">
                To provide our clients with the most unique, best innovative, and professional digital-age quality solutions, technology partnerships, and career opportunities, helping governments, citizens, and public and private sector enterprises with the genuine intention to securely contribute value to the national economy.
              </p>
            </div>
          </div>

          <div
            class="col-md-6 col-lg-4 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box">
              <div class="about-img">
                <img src="{% static 'assets/img/SVG/objective.svg' %}" alt="" />
              </div>
              <h4 class="title mt-4 mb-0"><a href="">Our Objectives</a></h4>
              <p class="description">
                Our aim is to provide comprehensive and integrated technology solutions to serve our customers in achieving their goals and roadmaps adopting all industry quality standards in the most professional way.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======About Us Section End  -->

    <!-- Testimonials section start -->
    <!-- <section class="client section3bg pt-3 pb-5 mt-5">
      <div class="container">
        <div class="row gx-5">
          <div class="col testimonial-section">
            <p class="p-text mb-sm-2">Testimonials</p>
            <hr
              class="mb-6 mt-0 d-inline-block mx-auto"
              style="width: 100px; height: 3px; color: #3691cf"
            />
            <h1 class="display-3 fw-bold">
              What our stakeholders say <span>About us</span>
            </h1>
          </div>

          <div class="col">
            <div class="row align-items-md-center text-white">
              <div class="col-lg-12 col-md-8 col-sm-8">
                <div
                  id="carouselExampleCaptions"
                  class="carousel slide"
                  data-bs-ride="carousel"
                >
                  <!-- Wrapper for slides -->
                  <!-- <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row p-4">
                        <div class="t-card">
                          <i class="fa fa-quote-left" aria-hidden="true"></i>
                          <p class="lh-lg">
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Augue lorem arcu quis feugiat lectus morbi
                            fusce facilisi. Facilisi suscipit fames elit lacus
                            varius congue aenean. Nisl, volutpat tempus quis
                            aliquam enim. Blandit hac porttitor pretium
                            vulputate. “
                          </p>
                          <i class="fa fa-quote-right" aria-hidden="true"></i
                          ><br />
                        </div>
                        <div class="row">
                          <div class="col-sm-2 pt-3">
                            <img
                              src="https://source.unsplash.com/300x300/?girl"
                              class="rounded-circle img-responsive img-fluid"
                            />
                          </div>
                          <div class="col-sm-10" style="color: #032f60">
                            <div class="arrow-down d-none d-lg-block"></div>
                            <h4><strong>Sunaina Samuel</strong></h4>
                            <p class="testimonial_subtitle">
                              <span>Associate Software Engineer</span><br />
                              <span>CodeHim</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="carousel-item">
                      <div class="row p-4">
                        <div class="t-card">
                          <i class="fa fa-quote-left" aria-hidden="true"></i>
                          <p class="lh-lg">
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Augue lorem arcu quis feugiat lectus morbi
                            fusce facilisi. Facilisi suscipit fames elit lacus
                            varius congue aenean. Nisl, volutpat tempus quis
                            aliquam enim. Blandit hac porttitor pretium
                            vulputate. “
                          </p>
                          <i class="fa fa-quote-right" aria-hidden="true"></i
                          ><br />
                        </div>
                        <div class="row">
                          <div class="col-sm-2 pt-3">
                            <img
                              src="https://source.unsplash.com/300x300/?girl"
                              class="rounded-circle img-responsive img-fluid"
                            />
                          </div>
                          <div class="col-sm-10" style="color: #032f60">
                            <div class="arrow-down d-none d-lg-block"></div>
                            <h4><strong>Alison Burger</strong></h4>
                            <p class="testimonial_subtitle">
                              <span>Associate Software Engineer</span><br />
                              <span>CodeHim</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="controls push-right">
                  <a
                    class="left fa fa-arrow-left btn btn-outline-light test-btn"
                    href="#carouselExampleCaptions"
                    data-bs-slide="prev"
                  ></a>
                  <a
                    class="right fa fa-arrow-right btn btn-outline-light test-btn"
                    href="#carouselExampleCaptions"
                    data-bs-slide="next"
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> --> 

   
    
{% endblock %}