
   
   {% extends 'website1/index.html' %}
   {% load static %}
   {% block header %}
   <nav id="header" class="container-fluid navbar navbar-expand-lg">
    <div class="container">
      <a class=" logo p-0" href="/">
        <img  src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"/>
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
  
        
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'services' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'team' %}">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'contacts' %}">Contact Us</a>
          </li>
   
      </div>
    </div>
  </nav>
  
  {% endblock %}



  {% block content %}

    <!-- ======About Us Section Start  -->

    <section id="" class="about section1bg d-flex align-items-center pb-3">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-7 d-flex flex-column justify-content-center">
            <br>
            <h1 data-aos="fade-up">Digital Platform Members Only App</h1>
            <div data-aos="fade-up">
              <img
                src="{% static 'assets/img/cliqnew.png' %}"
                alt="CLiQ Logo"
                style="width: 200px"
              />
            </div>

            <p data-aos="fade-up">
              AsterCLiQ is a fine digital-age Members Only Mobile app which gets frequently updated to meet all expectations and the joy of CliQ members. It was designed, developed, tested, and released within 6 months to our Cliqtan Members to seek their life long marriage-partner or a trustable Penpal.
            </p>
            <p data-aos="fade-up" data-aos-delay="250">
              Based on CliQ members’ preferred features, settings, and budget, we have 2 products (CliqClassicTM and CliqMillionareTM) as well as 3 budget plans (Bronze, Silver and Gold) for our Member-Cliqtans. From time to time we also give away free loyalty points for our valued member-cliqtans so that they could use them to pay for their next subscription fee or to purchase merchandise and services from our Cliq Shop and Cliq Yellow Pages (Registered Merchants). 
            </p>
          </div>
          <!-- <div class="col-lg-5" style="display: flex">
            <img
              src="assets/img/cliqimg.svg"
              class="img-fluid"
              alt=""
              data-aos="zoom-in"
            />
          </div>
        </div>
        <div class="row gy-4">
          <div class="col-lg-12 d-flex flex-column justify-content-center">
            <h4 data-aos="fade-up">Who are CLiQtans and CLiQ’ed partners?</h4>

            <p data-aos="fade-up">
              All the signed-up user in our app are called “CLiQtans”. Whenever
              our CLiQtan find their true love and decide to lock themselves in
              a private chat room isolating them from other, those CLiQtans we
              call them loyal “CLiQ’ed partners”. Anytime the CLiQ’ed partners
              simply can disengage and look for another CLiQtan.
            </p>
          </div>
        </div>
        <div class="row gy-4">
          <div class="col-lg-12 d-flex flex-column justify-content-center">
            <h4 data-aos="fade-up">How Does CLiQ Works?</h4>

            <p data-aos="fade-up">
              We believe true love can be found if the CLiQtans are compatible.
              This is the main reason we have created another aster public app
              with algorithm that will find the most compatible CLiQtan based on
              the information and preferences that you have set.
            </p>
          </div>
        </div>
      </div> -->
    </section>


    {% endblock %}

   
