{% extends 'website1/index.html' %}
{% load static %}

{% block header %}
<style>

</style>

<nav id="header" class="container-fluid navbar navbar-expand-lg">
  <div class="container">
    <a class=" logo p-0" href="/">
      <img  src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"/>
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/">Home</a>
        </li>

      
        <li class="dropdown">
          <a href="#"
            ><span>About</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'gallery' %}">Aster Gallery</a></li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'services' %}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'team' %}">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'contacts' %}">Contact Us</a>
        </li>
 
    </div>
  </div>
</nav>

{% endblock %}
  {% block content %}
  <br>
  <br>
  <br>
  {% if messages %}
  {% for message in messages %}
 
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

<br>
<br>
<div class="container">
  <div class="row justify-content-md-center">


<div class="alert alert-success" role="alert">
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button><br><br>
  
  <p>{{message}}</p>
  
</div>
  </div>
{% endif %}
{% endfor %}
{% endif %}
<div class="mx-auto" style="height: 100px;">
 
</div>

<section class="mt-5">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <p>Our Gallery</p>
      <h2>
        Our Memories <span style="color: #508f5e"> &</span>  Activities
        
      </h2>
    </div>

  

  </section>
   
  </div>
  
  

<div class="gallery-section">
  <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">
     
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-photo" >General Photos</li>
            <li data-filter=".filter-video">Office Photos</li>

          </ul>
        </div>
      </div>
      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-4 col-md-6 portfolio-item filter-photo">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/gallery/vijith.JPG' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/gallery/vijith.JPG' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="Aster Photo"
                ><i class="bi bi-plus"></i
              ></a>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-photo">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/gallery/gallery-2.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/gallery/gallery-2.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title=""
                ><i class="bi bi-plus"></i
              ></a>
              <!-- <a href="portfolio-details.html" title="More Details"
                ></a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-photo">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/gallery/gallery-5.jpeg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/gallery/gallery-5.jpeg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title=""
                ><i class="bi bi-plus"></i
              ></a>
              <!-- <a href="portfolio-details.html" title="More Details"
                ></a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-photo">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/gallery/md.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/gallery/md.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title=""
                ><i class="bi bi-plus"></i
              ></a>
              <!-- <a href="portfolio-details.html" title="More Details"
                ></a> -->
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-video">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/gallery/office-1.JPG' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/gallery/office-1.JPG' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title=""
                ><i class="bi bi-plus"></i
              ></a>
              <!-- <a href="portfolio-details.html" title="More Details"
                ></a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-video">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/gallery/office-2.JPG' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/gallery/office-2.JPG' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title=""
                ><i class="bi bi-plus"></i
              ></a>
              <!-- <a href="portfolio-details.html" title="More Details"
                ></a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-video">
          <div class="portfolio-wrap">
            <img
              src="{% static 'assets/img/gallery/work.jpg' %}"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-links">
              <a
                href="{% static 'assets/img/gallery/work.jpg' %}"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title=""
                ><i class="bi bi-plus"></i
              ></a>
              <!-- <a href="portfolio-details.html" title="More Details"
                ></a> -->
            </div>
          </div>
        </div>
      </div>
         <div class="row view_more">
        <div class="col-lg-12 d-flex align-items-center justify-content-center">
          Like what you see here? &nbsp; <a href=""> See More Activities and Photos</a>
        </div>
      </div>
    </div>
    
  
  </section>


</div>
{% endblock %}

 