
{% extends 'website1/index.html' %}
{% load static %}
{% block header %}
<style>
  .aster-but input {
  height: 44px;
  box-shadow: 0px 4px 4px rgb(26 105 146 / 10%), inset 4px 1px 4px rgb(26 105 146 / 20%);
  border: none;
  border-radius: 14px;
}


.aster-but input[type='submit']{
  background: #00B4F5;
  border: 0;
  /* border: none; */
  padding: 15px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 16px;
  box-shadow: 0px 10px 20px rgb(187 205 224 / 30%), inset 4px 4px 8px rgb(0 0 0 / 25%), inset -8px -8px 12px rgb(0 0 0 / 25%);
  transform: scale(0.8);
}
</style>
<nav id="header" class="container-fluid navbar navbar-expand-lg">
  <div class="container">
    <a class=" logo p-0" href="/">
      <img  src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"/>
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/">Home</a>
        </li>

      
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'services' %}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'team' %}">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'contacts' %}">Contact Us</a>
        </li>
 
    </div>
  </div>
</nav>

{% endblock %}

  {% block content %}
  <br>
  <br>
  <br>
  <br>
  <br>
  {% if messages %}
  {% for message in messages %}
 
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

<br>
<br>
<div class="container">
  <div class="row justify-content-md-center">


<div class="alert alert-success" role="alert">
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button><br><br>
  
  <p>{{message}}</p>

</div>
  </div>
{% endif %}
{% endfor %}
{% endif %}
   
    <main id="main" class="mt-5">
      <section id="contact" class="contact py-5">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-between">
            <div class="row row-cols-2 p-5">
              <div class="col-lg-6 col-sm-12 product-heading">
                <p><span>Connect With Us</span></p>
                <h2 class="">How Can We</h2>
                <h2><span>Help You !</span></h2>
              </div>
              <div class="col-lg-6 col-sm-12 product-side-description">
                <p>
                  All your queries with regard to employment with us, business
                  partnerships, Seed and Angel Investment as well as Venture
                  Capital, Joint-venture, willing to be a local dealer in your
                  Country/District, to buy our digital-age software, and to give
                  suggestions, comments, constructive criticism, please use the
                  below Contact Us form... !
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col-lg-5 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Dhobighat,Lalitpur, Nepal</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@asterinnovations.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>(+977)9846897070</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.322820202344!2d85.30499611548166!3d27.676415733456537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19d3284fc7bf%3A0x464d1805b70a5500!2sAster!5e0!3m2!1sen!2snp!4v1649484372863!5m2!1sen!2snp"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 290px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div
              class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
           
         <div class="info">
         <br>
         <br>
         <br>
         {% if messages %}
         {% for message in messages %}
        
       {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
       
      

       <div class="container">
         <div class="row justify-content-md-center">
          <br>
          <br>
          <br>
          <br>
          <br>
       
       <div class="alert alert-danger" role="alert">
           <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button><br><br>
         
         <p>{{message}}</p>
       
       </div>
         </div>
       {% endif %}
       {% endfor %}
       {% endif %}

          <div class="container aster-but" style ='text-align:center;'>
            <br>
            <br>
            <br>
            <br>
            <p>A 6 digit code was sent to your email. Please, enter it below.</p>
            <div class="row">
          <div class="col-xl-12">
          <form method="POST"  name="verify-otp">
              {% csrf_token %}
      <label for="myotp" >
          <bold>OTP:</bold>
          {{otp}}
      </label>
          <input name="otp" id="otp" type="text"><br><br>
          <button type="submit" class="btn btn-primary" name="verify-otp" value="verify-otp">Verify OTP</button>
      </form>
      </div>
            </div>
            
         </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section class="contact-footer-section">
        <div class="container">
          <div class="row d-flex align-items-center transbox mt-5">
            <div class="col-12">
              <p data-aos="fade-up">Have any projects in mind !</p>
            </div>
            <div class="col-6">
              <b data-aos="fade-up"> Let’s Talk.</b>
            </div>
            <div class="col-6">
              <button data-aos="fade-up">Book Free Consultation</button>
            </div>
          </div>
        </div>
      </section> -->
      <!-- End Contact Us Section -->
    </main>
    <!-- End #main -->
<script>
// function myFunction() {
//    var otp = document.getElementById("otp").trim()
// }
// function verify_otp(){
      
//       var user_otp=document.getElementById("otp").value.trim();
//       // var user_otp = user_otp.toString(2);
//       // var otp_from_back = otp_from_back.toString(2);
//       console.log('-------------------')
//       console.log(otp_from_back)
//       console.log(user_otp)
//       debugger
//       if (user_otp==otp_from_back){
//          document.getElementById("verify_text_div").style.display="block";
//           document.getElementById("verify_text_div").style.color="green";            
//           document.getElementById("verify_text_div").innerHTML="Email OTP Verified";
//           document.getElementById("otp_div").style.display="none";
//           // document.getElementById("form_div").style.display="block";
//           document.getElementById("email_div").style.display="none";
//           document.getElementById("email-otp").style.display = "block";
//           document.getElementById("ajax-but-email").style.display='block';
//       }
//       else{
//          document.getElementById("verify_text_div").style.display="block";
//           document.getElementById("verify_text_div").style.color="red";
//           document.getElementById("verify_text_div").innerHTML="Try again. Your Email OTP is invalid";
//       }
//   } 
</script>
    
{% endblock %}